.lid-text{
	width: 370px;
	float: left;
}

.lid-img{
	width: 280px;
	float: left;
}

.lid-image{
	width: 280px;
}

.left-text{
	margin-right: 50px;
}

.right-text{
	margin-left: 50px;
}

#pearl-top{
	width: 180px;
	margin-left: 5px;
}

#pearl-side{
	width: 240px;
	margin-top: 20px;
	margin-left: 50px;
}

#pearl-angle{
	width: 310px;
	position: absolute;
	z-index: 90;
	right: 70px;
	top: 30px;
}

#tearback-top{
	width: 220px;
	margin-left: 0;
}

#tearback-side{
	width: 250px;
	margin-top: 30px;
	margin-left: 50px;
}

#tearback-angle{
	width: 300px;
	position: absolute;
	z-index: 90;
	right: 75px;
	top: 30px;
}

#spout-top{
	width: 200px;
	margin-left: 5px;
}

#spout-side{
	width: 250px;
	margin-top: 60px;
	margin-left: 45px;
}

#spout-angle{
	width: 280px;
	position: absolute;
	z-index: 90;
	right: 75px;
	top: 25px;
}